/* Base styles: Estilos globales y de tipografía */
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  color: $main-color;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100vh;
  line-height: 24px;
  padding: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  margin-left: 8rem;
  margin-right: 8rem;

}

a {
  .svg-link {
    transition: color 0.3s ease;

    &:hover {
      color: $hover-color-1 !important;
    }
  }
}

/* Layout: Estructura general de la página */
.webgl {
  left: 0;
  outline: none;
  position: fixed;
  top: 0;
  z-index: -1;
}

.hero {
  &__container {
    display: flex;
    height: auto; /* Cambia la altura según lo necesites */
    margin: 2.5rem auto 3.5rem;
    max-width: 1200px;
    overflow: hidden;
  }

  &__text {
    gap: 10px;
    padding-right: 20px;
    width: 75%;    
  }

  &__image {
    height: 90%;
    object-fit: cover;
    object-position: center;
    width: 100%; 
  }

  &__left-column {
    display: flex;
    gap: 5px;
    width: 65%;

    h1 {
      font-size: 3.2rem;
      line-height: 3.5rem;
      margin-bottom: 3rem;
      margin-right: 1rem;
    }
  }

  &__right-column {
    margin-left: 2rem;
    width: 35%;
  }

  &__description {
    font-size: 1.2em;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

.card {
  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;
    width: 70%;
  }

  &__box {
    align-items: center;
    background-color: $box-bg-color-2;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px $box-shadow;
    display: flex;
    height: 20%;
    justify-content: space-between;
    margin: 1rem auto;
    margin-bottom: 6rem;
    max-width: var(--max-width);
    overflow: hidden;
    padding: 10px; 
    position: sticky;
    top: 20;
  }

  &__text {
    flex: 1;
    padding: 1rem;
    width: 50%;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &__image {
    flex: 1;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    width: 60%;

    img {
      border-radius: 5px;
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
}

.info {
  &__accordion {
    border: 1px solid $main-color;
    margin: 1rem auto;
    width: 82%;

    &-title {
      background-color: $info-accordion-color;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      padding: 15px;
    }

    &-content {
      background-color: $info-accordion-color-2;
      border-top: 1px solid #ccc;
      display: none;
      padding: 15px;
    }

    &-content ul {
      list-style-type: disc; 
      padding-left: 20px; 
    }
    
    &-content li {
      margin-bottom: 5px; 
    }

    &-content a {
      color: $main-color;
      text-decoration: underline;
    }

    &-content a:hover {
      color: $hover-color-1;
    }

    &-item.active {
      & .info__accordion-content {
        display: block;
      }
    }
  }
}

.uoc-footer {
  font-size: 0.75rem;
  margin-top: 1.5rem;
  text-align: center;
}

/* Modules: Estilos específicos de componentes */
header {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 1.8rem;
  }

  nav {
    ul {
      display: flex;
      list-style: none;

      li {
        display: flex;
        margin-right: 1rem;

        img {
          transition: transform 0.3s;
          width: 30px;

          &:hover {
            transform: scale(1.1) rotate(5deg);
          }
        }
      }
    }
  }
}

.img1 {
  height: auto;
  width: 30%;
}

.hero__article {
  background-color: $hero-art-color;
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
  padding: 4px;
  transition: transform 0.3s ease;

  a {
    color: $main-color;
    text-decoration: none;

  }

  a:hover {
    color: $hover-color-2;
    cursor: pointer;
    transform: scale(1.02);
  }

  &-image {
    height: 100px;
    margin-right: 15px;
    object-fit: cover;
    width: 100px;
  }

  &-text {
    p {
      color: $main-color;
      font-size: 0.9em;
    }

    span {
      color: $main-color;
      font-size: 0.85em;
    }
  }
}

/* State: Modificaciones de estado */
@media (max-width: 768px) {
  header h1 {
    font-size: 1rem;
  }

  header nav ul li {
    margin-right: 0.5rem;
  }
}

/* Theme: Estilos visuales relacionados con colores y tipografía */


.hero__meta {
  color: $hero-meta-color;
  font-size: 0.9em;
}

@media (max-width: 1032px) {

  h2 {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .h2__2 {
    margin-bottom: 1.5rem;
  }
  
  .hero__container {
    flex-direction: column;
    padding: 10px;
  }

  .hero__image {
    height: auto !important;
    margin: 0 auto;
    max-width: 100%;
    width: 70%;
  }

  .hero__left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding-right: 0;
    width: 100%;
  }

  .hero__text h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  .hero__right-column {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .card {
    flex-direction: column;

    &__image {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .card__box {
    flex-direction: column;
    width: 90%;

    p {
      font-size: 0.7rem;
      padding-bottom: 0;
    }

    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .card__text {
    width: 100%;
  }

}


