<header>
    <h1>Observatori Fabra</h1>
    <nav>
        <ul>
            <li>
                <a href="https://observatorifabra.cat/" target="_blank">
                    <img src="assets/images/web.svg" alt="Pagina oficial">
                </a>
            </li>
            <li>
                <a href="https://ca.wikipedia.org/wiki/Observatori_Fabra" target="_blank">
                    <img src="assets/images/wiki.svg" alt="Wikipedia">
                </a>
            </li>
            <li>
                <a href="https://github.com/ignasimgol/PEC1---Eines-HTML-i-CSS-II" target="_blank">
                    <img src="assets/images/git.svg" alt="Repositori">
                </a>
            </li>
            <li>
                <a href="https://x.com/alfons_pc?lang=ca" target="_blank">
                    <img src="assets/images/twt.svg" alt="Twitter">
                </a>
            </li>
            
        </ul>
    </nav>
</header>