
<div class="main-container">
    <div class="container">
        <!-- Columna Izquierda -->
        <div class="left-column">
            <div>
                <h1>L'Obesrvatori Fabra. La joia del Tibidabo que obeserva el cel de Barcelona</h1>
                <p class="description">
                    On Thursday, three Russian astronauts lifted off on the Moscow-17 spacecraft from the Sputnik 1 Satellite Launch Center deep in the Gobi Desert, heading for the Mir space station for a six-month stay.
                </p>
                <div class="meta">
                    <span>UOC</span> | <span>Ignasi Muñoz</span> | <span>11 d'octubre, 2024</span>
                </div>
            </div>
            <div>
                <picture>
                  <source media="(max-width: 768px)" srcset="./assets/images/fabra5.2.jpeg" class="main-image-2">
                  <img src="./assets/images/fabra5.jpeg" alt="Astronauta joven en traje espacial" class="main-image">
                </picture>
              </div>
        </div>

        <!-- Columna Derecha -->
        <div class="right-column">
            <div class="article">
                <img src="./assets/images/fabra3.jpg" alt="Cielo y nubes" class="article-image">
                <div class="article-text">
                    <span>Daniel Albarta</span> | <span>October 22, 2023</span>
                    <h3>Washy Clouds and a Weepy Sky Floating</h3>
                    <p>Our Planet | 8 mins read</p>
                </div>
            </div>

            <div class="article">
                <img src="./assets/images/fabra1.jpg" alt="Cohete despegando" class="article-image">
                <div class="article-text">
                    <span>Donn Robinson</span> | <span>October 21, 2023</span>
                    <h3>Rocket Lab Expects to Resume Electron</h3>
                    <p>Space | 4 mins read</p>
                </div>
            </div>

            <div class="article">
                <img src="./assets/images/fabra2.jpg" alt="Exploración en Marte" class="article-image">
                <div class="article-text">
                    <span>Natalia Figman</span> | <span>October 21, 2023</span>
                    <h3>Curiosity Rover Discovers New Evidence</h3>
                    <p>Space | 7 mins read</p>
                </div>
            </div>

            <div class="article">
                <img src="./assets/images/fabra4.png" alt="Antena satelital" class="article-image">
                <div class="article-text">
                    <span>Antonio Roberto</span> | <span>October 19, 2023</span>
                    <h3>Satellite Data Reveals Ancient</h3>
                    <p>Space | 8 mins read</p>
                </div>
            </div>
        </div>
    </div>
</div>