
<div class="main-container">
    <section>
        <h1>UOC UOC</h1>
    </section>

    <section>
        <h2>PEPE IS LOCO</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quo tempore voluptates doloremque dolore, obcaecati veniam quasi maiores repellendus sapiente. Ducimus omnis modi qui, iusto sunt laudantium. Aliquam, corrupti veniam!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus ullam nihil excepturi voluptatem hic aliquam? Laboriosam, aliquid corporis. Libero possimus eligendi recusandae odio voluptate earum at assumenda inventore itaque!</p>
    </section>

    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quo tempore voluptates doloremque dolore, obcaecati veniam quasi maiores repellendus sapiente. Ducimus omnis modi qui, iusto sunt laudantium. Aliquam, corrupti veniam!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus ullam nihil excepturi voluptatem hic aliquam? Laboriosam, aliquid corporis. Libero possimus eligendi recusandae odio voluptate earum at assumenda inventore itaque!</p>
        <img src="./assets/images/fabra1.jpg" alt="observatori fabra">
    </section>
</div>