<section>
    <div class="hero">
        <div class="hero__container">
            <div class="hero__left-column">
                <div class="hero__text">
                    <h1>L'Obesrvatori Fabra. La joia del Tibidabo que obeserva el cel de Barcelona</h1>
                    <p class="hero__description">
                        Pots premer la tecla "h" per desplegar el menú de control de la galáxia (si estas en un dispositiu mobil fes 3 tocs ràpids a la pantalla), creant així la posibilitat de modelar la teva experiència. Modifica el color, la quantitat d'estrelles i la seva mida entre d'altres coses.  
                    </p>
                    <div class="hero__meta">
                        <span>UOC</span> | <span>Ignasi Muñoz</span> | <span>3 de novembre, 2024</span>
                    </div>
                </div>
              
                <picture>
                  <source media="(max-width: 1024px)" srcset="./assets/images/fabra5.2.jpeg">
                  <source media="(min-width: 1025px)" srcset="./assets/images/fabra5.jpeg">
                  <img src="./assets/images/fabra5.jpeg" alt="Observatori blanc i negre" class="hero__image">
                </picture>
            </div>
    
            <div class="hero__right-column">
              <div class="hero__article">
                <img src="./assets/images/fabra1.jpg" alt="Cielo y nubes" class="hero__article-image">
                <div class="hero__article-text">
                    <a href="#card1">
                        <span>Cultura i ciència</span> | <span>Observatori Fabra</span>
                        <h3>Icona cultural i científica de la ciutat condal</h3>
                        <p>Fes click per saber mes</p>
                    </a>
                </div>
            </div>
            
            <div class="hero__article">
                <img src="./assets/images/fabra3.jpg" alt="Cohete despegando" class="hero__article-image">
                <div class="hero__article-text">
                    <a href="#card2">
                        <span>Telescopi</span> | <span>Observatori Fabra</span>
                        <h3>El telescopi històric de l'Observatori Fabra</h3>
                        <p>Fes click per saber mes</p>
                    </a>
                </div>
            </div>
            
            <div class="hero__article">
                <img src="./assets/images/fabra2.jpg" alt="Exploración en Marte" class="hero__article-image">
                <div class="hero__article-text">
                    <a href="#card3">
                        <span>Cultura</span> | <span>Observatori Fabra</span>
                        <h3>Arquitectura, events per famílies i espais de cultura</h3>
                        <p>Fes click per saber mes</p>
                    </a>
                </div>
            </div>
            
            <div class="hero__article">
                <img src="./assets/images/fabra4.png" alt="Antena satelital" class="hero__article-image">
                <div class="hero__article-text">
                    <a href="#card4">
                        <span>Nits espectaculars</span> | <span>Observatori Fabra</span>
                        <h3>Les nits a l'Observatori Fabra</h3>
                        <p>Fes click per saber mes</p>
                    </a>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</section>

<section>
    <h2>Que trobarás a l'Observatori Fabra?</h2>
    <div class="card__container">
        <div class="card__box" id="card1">
            <div class="card__text">
              <h3>Icona cultural i científica de la ciutat condal</h3>
              <p>L'Observatori Fabra és una icona científica i cultural de Barcelona, fundat l'any 1904. Situat a la muntanya del Tibidabo, l'Observatori combina recerca científica amb activitats de divulgació per al públic. Des del seu inici, ha estat dedicat a l'astronomia, la meteorologia i la sismologia, fent aportacions importants en aquests camps.</p>
            </div>
            <div class="card__image">
              <img src="./assets/images/fabra1.jpg" alt="Description of the image">
            </div>
          </div>
          
          <div class="card__box" id="card2">
            <div class="card__text">
                <h3>El telescopi històric de l'Observatori Fabra</h3>
                <p>El telescopi de l'Observatori Fabra de Barcelona és un refractor de 0,82 metres instal·lat el 1904 i és un dels més importants d'Espanya. Situat a 670 metres d'altura a la serra de Collserola, ofereix condicions d'observació excel·lents i ha estat utilitzat durant més d'un segle per a diverses investigacions astronòmiques. Actualment, el telescopi s'utilitza per a activitats d'observació pública, permetent als visitants veure cossos celestes com planetes i la lluna sota la guia d'astrònoms experts. A més, l'Observatori Fabra és considerat un bé d'interès cultural, contribuint al patrimoni científic de Catalunya.</p>
              </div>
            <div class="card__image">
              <img src="./assets/images/fabra3.jpg" alt="Description of the image">
            </div>
          </div>

          <div class="card__box" id="card3">
            <div class="card__text">
                <h3>Arquitectura, events per famílies i espais de cultura</h3>
                <p>Amb més de 100 anys d'història, l'Observatori continua sent un referent no només per als científics, sinó també per als amants de l'astronomia i la cultura. La seva arquitectura modernista i la seva ubicació privilegiada el converteixen en un dels llocs més especials de la ciutat. També organitza esdeveniments especials com els sopars sota les estrelles, combinant ciència i gastronomia en un entorn incomparable.</p>
              </div>
            <div class="card__image">
              <img src="./assets/images/fabra2.jpg" alt="Description of the image">
            </div>
          </div>

          <div class="card__box" id="card4">
            <div class="card__text">
                <h3>Les nits a l'Observatori Fabra</h3>
                <p>L'Observatori Fabra de Barcelona és un lloc fascinant per visitar a les nits, ja que ofereix activitats i esdeveniments d'astronomia. Aquí tens algunes opcions que podries considerar com l'observació estel·lar, visites guiades nocturnes o xerrades sobre temes astronòmics d'actualitat. És recomanable revisar el seu calendari d'activitats al seu lloc web oficial per conèixer els esdeveniments programats i les dates disponibles per a les visites nocturnes.</p>
              </div>
            <div class="card__image">
              <img src="./assets/images/fabra4.png" alt="Description of the image">
            </div>
          </div>
    </div>
</section>

<section>
    <h2 class="h2__2">Enllaços directes a activitats</h2>
    <div class="info__accordion">
        <div class="info__accordion-item">
          <h3 class="info__accordion-title">Visites</h3>
          <div class="info__accordion-content">
            <p>Tens ganes de conèixer l'Observatori? Les visites guiades pel propi personal científic a l’interior de l’Observatori us permetràn conèixer de primera ma tot el patriomoni arquitectònic i científic de l’edifici. Rebreu explicacions de totes seccions actives: l’astronomia, la meteorologia i la sismologia. També us mostraran la sala modernista, el museu, la cúpula i el funcionament dels dos telescopis centenaris, la biblioteca, la terrassa panoràmica amb vistes espectaculars sobre la ciutat. Si vols saber més fes click <a href="https://observatorifabra.cat/visites/" target="_blank">aqui</a> </p>
          </div>
        </div>
        <div class="info__accordion-item">
          <h3 class="info__accordion-title">Cursos</h3>
          <div class="info__accordion-content">
            <p>Informat aqui dels diferents cursos sobre astronomia i meteorologia que hi ha a l'Observatori.</p>
            <ul>
              <li> <a href="https://www.sternalia.com/ca/curs-astronomia-basica.html">Astronomia Bàsic</a></li>
              <li> <a href="https://www.sternalia.com/ca/curs-astronomia-practica.html">Astronomia Pràctica</a></li>
              <li> <a href="https://www.sternalia.com/ca/curs-de-meteorologia-basica.html">Metorologia Bàsica</a></li>
              <li> <a href="https://www.sternalia.com/ca/curs-de-meteorologia-avacada.html">Metorologia Avançada</a></li>
            </ul>
          </div>
        </div>
        <div class="info__accordion-item">
          <h3 class="info__accordion-title">Jornades</h3>
          <div class="info__accordion-content">
            <p>Properament serà la 6a Jornada de Sismologia a l’Observatori Fabra i Fontmartina. Si vols saber-ne mes, fes click <a href="https://observatorifabra.cat/producto/6a-jornada-de-sismologia-a-lobservatori-fabra-i-fontmartina/">aquí</a></p>
          </div>
        </div>
        <div class="info__accordion-item">
            <h3 class="info__accordion-title">Esdeveniments privats</h3>
            <div class="info__accordion-content">
              <p>També es pot reservar l'Observatori Fabra per tal de fer esdeveniments privats. Tens mes informació a la <a href="https://www.sternalia.com/ca/esdeveniments-privats.html">página oficial</a></p>
            </div>
          </div>
      </div>
      
</section>